.txt_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 15px;
    .txt_info_left{
        width: 60%;
        h3{
            font-weight: 600;
            font-size: 25px;
            color: #FF6060;
            margin-top: 25px;
            margin-bottom: 0;
        }
        p{
            margin-top: 0;
        }
        .tag{
            display: flex;
            flex-direction: row;
            justify-content: flex-start ;
            align-items: center;
            flex-wrap: wrap;
            color: white;
            p{
                font-size: 12px;
                padding: 4px;
                padding-left: 40px;
                padding-right: 40px;
                background-color: #FF6060;
                border-radius: 10px;
                margin-left: 10px;
            }
            :first-child{
                margin-left: 0px;
            }
        }
    }
    .txt_info_right{
        width: 20%;
        .info_loueur{
            display: flex;
            flex-direction: row;
            padding-bottom: 15px;
            justify-content: flex-end;
            img{
                width: 30%;
                border-radius: 100px;
            }
            .name{
                color: #FF6060;
                text-align: end;
                padding-right: 5px;
                width: 30%;
            }
        }
    }
}



@media (max-width: 767.98px){
    .txt_info{
        flex-direction: column;
        .txt_info_left{
            width: 90%;
            h3{
                margin-top: 0;
                margin-bottom: 10px;
            }
            p{
                font-weight: bolder;
            }
            .tag{
                p{
                    font-weight: bolder;
                    border-radius: 6px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
        .txt_info_right{
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            .info_loueur{
                .name{
                    font-weight: bold;
                    font-size: 15px;
                    padding-right: 10px;
                    margin-right: 5px;
                }
                img{
                    width: 40%;
                    margin-left: 5px;
                }
            }
            .star{
                align-items: center;
            }
        }
    }
}
