
.upbar{
    padding-bottom: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        .menu{
            display: flex;
            flex-direction: row;
            li{
                padding-right: 20px;
                list-style-type: none;
               
                &:hover{
                    text-decoration: underline;
                }
                a{
                    font-weight: 600;
                    text-decoration: none;
                    color: black;
                }            
            }
        }
        
    }
    .logo{
        width: 15%;
        height: auto;
    }
}


@media (max-width: 767.98px){
    .upbar{
        .logo{
            width: 35%;
        }
        .menu{
            padding-left: 0px;
        }
    }

}


