
//////////////// global
header{
    margin-left: 50px;
    margin-right: 50px;
}


main{
    margin-left: 50px;
    margin-right: 50px;
}

body{
    font-family: 'Montserrat';
    margin: 0;
}


//////////////// page d'accueil





//////////////// logement /////////////





//////////////// page a propos









//////////////// a trier
section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
