
//////////////// global
header{
    margin-left: 50px;
    margin-right: 50px;
}


main{
    margin-left: 50px;
    margin-right: 50px;
}

body{
    font-family: 'Montserrat';
    margin: 0;
}


//////////////// page d'accueil





//////////////// logement /////////////





//////////////// page a propos

////taille des panel
.all_panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .panel{
        width: 80%;
    }
}

///////////////////// error page

.error-page{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FF6060;

    h1{
        font-size: 200px;
        font-weight: 1000;
        margin: 0;

    }
    p{
        // margin: 0;
        font-size: 30px;
    }
    a{
        color: black;
        

    }
}



//////////////// a trier
section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
