
//////////////// global
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    margin: 0;

    height: 100%;
    box-sizing: border-box;
}


#root{
    width: 100%;
    max-width: 1440px;

    display: flex;
    flex-direction: column;
    // min-height: 100%;
}



header{
    margin-left: 40px;
    margin-right: 40px;

    flex-grow: 0;
    flex-shrink: 0;
}


main{
    margin-left: 40px;
    margin-right: 40px;
    // min-height: 100%;
    
    flex: 1 0 auto
    // display: flex;

    // flex-grow: 2;
}





//////////////// page d'accueil





//////////////// logement 





//////////////// page a propos

////taille des panel


///////////////////// error page

.error-page{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FF6060;

    h1{
        font-size: 200px;
        font-weight: 1000;
        margin: 0;

    }
    p{
        // margin: 0;
        font-size: 30px;
    }
    a{
        color: black;
        

    }
}



//////////////// a trier
section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
