

.panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    .title_button{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #FF6060;
        margin-bottom: 10px;
        border-radius: 10px;
        h3{
            color: white;
            margin-left: 8px;
            // transform:  translateX(180px) rotate(45deg);
        }
        svg{
            display: flex;
            align-self: center;
            padding: 10px;
            width: 30px;
            height: 30px;
            color: white;
            transition-property: transform;
            transition-duration: 0.5s;
        }
        .fa-angle-up{
            &:active{
                transform: rotate(180deg );
            }
        }
        .fa-angle-down{
            &:active{
                transform: rotate(180deg );
            }
        }
    }
    p{
        margin: 0;
        padding: 15px;
    }
}



// transform: rotate(0.5turn );

// transition-property: transform;
// transition-duration: 1s;

////////////// panel dans le logement
.menu_deroulant{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .panel{
        width: 45%;
        .title_button{
            display: flex;
            margin: 0;
            background-color: #FF6060;
            align-items: center;
            justify-content: space-between;
            color: white;
        }
        p{
            margin: 0;
            padding: 10px;
            background-color: #F6F6F6;
            li{
                list-style: none;
            }
        }
    }

}



@media (max-width: 767.98px){

    .menu_deroulant{
        flex-direction: column;
        .panel:first-child{
            margin-top: 0px;
        }
        .panel{
            width: 100%;
            margin-top: 30px;

        }
    }
}

.panel{
    width: 100%;
    height: 20%;
    .title_button{
        h3{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            margin-top: 2px;
            margin-bottom: 2px;

        }
        svg{
            
            padding: 6px;
            // width: 30px;
            // height: 30px;
            
        }
    }
}